.planet-back-btn {
  color: var(--color-back-btn-text);
  font-family: var(--sub-font);
  font-size: 18px;
  font-weight: 800;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: 0.5s;

  svg path {
    transition: 0.5s;
  }

  &:hover {
    color: var(--color-btn-text);

    svg path {
      fill: var(--color-btn-text); 
    }
  }

  span {
    margin-left: 12px;
  }
}