.planet-btn {
  border: none;
  padding: var(--button-padding);
  background: var(--color-button-background);
  color: var(--color-btn-text);
  border-radius: var(--vt-r-button);
  height: var(--button-height);
  transition: 0.5s;

  .planet-btn__content {
    font-family: var(--sub-font);
    font-size: var(--button-font-size);
    font-weight: 500;
  }

  &:hover {
    background: var(--hover-button-background);
    cursor: pointer;
  }
}