.date-tag {
  display: flex;
  align-items: center;

  .date-tag__date {
    color: var(--color-date-tag);
    font-family: var(--sub-font);
    font-size: var(--card-date-tag-font-size);
    font-weight: 400;
    padding: 0px 8px;
    width: 100%;
  }
}