@import './fonts.css';

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #F4F6FB;

  --vt-c-black: #14142A;

  --vt-c-gray: #81859C;
  --vt-c-gray-soft: #BEC2DA;

  --vt-c-blue: #00B2FF;
  --vt-c-blue-01: #D2F3FF;
  --vt-c-blue-02: #E7F8FE;

  --vt-r-default: 24px;
  --vt-r-material: 32px;
  --vt-r-button: 12px;

  --vt-shadow-default: drop-shadow(-9px 21px 13px #0000000A);


  --color-background: var(--vt-c-white-soft);
  --color-navbar-background: var(--vt-c-white);
  --color-card-background: var(--vt-c-white);
  --color-button-background: var(--vt-c-blue-02);

  --color-heading: var(--vt-c-black);
  --color-text: var(--vt-c-black);
  --color-descr: var(--vt-c-gray);
  --color-date-tag: var(--vt-c-gray-soft);
  --color-btn-text: var(--vt-c-blue);
  --color-back-btn-text: var(--vt-c-black);
  --color-placeholder: var(--vt-c-gray-soft);

  --radius-planet-card: var(--vt-r-default);

  --hover-shadow-card: var(--vt-shadow-default);
  --hover-button-background: var(--vt-c-blue-01);

  --main-font: 'SourceSans3-Regular';
  --sub-font: 'FuturaPT-Book'; 
}

:root {
  --navbar-height: 84px;
  --button-height: 44px;
  --card-height: 273px;
  --card-descr-height: 76px;

  --card-column: repeat(auto-fill, 276px);

  --container-padding: 0px 144px;
  --card-padding: 32px 24px;
  --header-padding: 48px 0px;
  --create-material-header-padding: 32px 0px 0px 0px;
  --button-padding: 9px 24px 15px 24px;
  --material-card-padding: 64px;
  --material-header-padding: 48px 0px;
  --material-title-padding: 24px 0px;

  --card-date-tag-bottom-margin: 20px;
  --card-title-bottom-margin: 16px;
  --material-descr-bottom-margin: 36px;
  --create-material-title-bottom-margin: 24px;
  --create-material-descr-bottom-margin: 40px;

  --card-date-tag-font-size: 16px;
  --card-header-font-size: 20px;
  --card-descr-font-size: 16px;
  --header-descr-font-size: 36px;
  --button-font-size: 18px;
  --material-descr-font-size: 22px;
  --material-text-font-size: 20px;
  --material-title-font-size: 36px;
  --editor-font-size: 20px;
  --create-material-title-font-size: 36px;
  --create-material-descr-font-size: 22px;

  --card-header-line-height: 24px;
  --material-descr-line-height: 26px;
  --material-title-line-height: 43px;
}

@media (max-width: 1014px) {
  :root {
    --card-height: 236px;
    --card-descr-height: 72px;

    --card-date-tag-bottom-margin: 16px;

    --card-padding: 24px;
    --container-padding: 0px 16px;
    --material-header-padding: 32px 16px;
    --material-card-padding: 24px 16px;

    --card-header-font-size: 18px;
    --card-descr-font-size: 14px;
    --material-descr-font-size: 18px;
    --material-title-font-size: 24px;
    --material-text-font-size: 16px;

    --card-header-line-height: 22px;
    --material-descr-line-height: 22px;
    --material-descr-title-height: 29px;

    --card-column: repeat(1, 100%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  padding-bottom: 120px;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'SourceSans3-Regular';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input:focus {
  outline: none !important;
}