@font-face {
  font-family: FuturaPT-Book;
  src: url('fonts/FuturaPT/FuturaPT-Book.ttf');
}

@font-face {
  font-family: SourceSans3-Regular;
  src: url('fonts/SourceSans3/static/SourceSans3-Regular.ttf');
}