.planet-navbar {
  padding: var(--container-padding);
  background: var(--color-navbar-background);
  height: var(--navbar-height);

  .planet-navbar__menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

    .planet-navbar__link {
      height: 44px;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }
}