
.materials {
  padding: var(--container-padding);

  .materials__header {
    padding: var(--header-padding);
  }

  .materials__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: var(--card-column);
    gap: 1rem; 
  }
}